<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  {% for item in navigation.navigation %}
    {% set active = ( item.url == navigation.active ) ? 'active' : '' %}
    <a class="navbar-brand {{active}}" href="{{item.url}}">{{item.menu}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  {# <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {{active}}" href="{{item.url}}">{{item.menu}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{active}}" href="{{item.url}}">{{item.menu}}</a>
      </li>
    </ul> #}
    {% endfor %}

    <form class="form-inline my-2 my-md-0" method="get" action="search.php">
      {% set search = (result.query) ? result.query : '' %}
      <input type="search" name="query" class="form-control"  placeholder="Search" aria-label="Search" value="{{search}}">
    </form>
  </div>
</nav>