<html>
{% include 'partials/head.twig' %}
    <style>
    .iframe-container
    {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }
    
    .iframe-container iframe
    {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    </style>

    <body>
        {% include 'partials/navigation.twig' %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">{{detail.content.article_title}}</h1>
                <hr/>
                <p class="lead">{{detail.content.created|date('l, d F Y h:i:s A')}} By {{detail.content.username}}</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                {% if not detail.videos is empty %}
                    {% for video in detail.videos %}
                    <p>This video is {{video.url}}</p>
                    <div class="iframe-container">
                        <iframe class="embediframe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <script type="text/javascript">
                            var url = "{{video.url}}";
                            var id = url.split("?v=")[1]; //sGbxmsDFVnE

                            var embedLink = "http://www.youtube.com/embed/" + id;

                            var embededVideo = document.getElementsByClassName("embediframe");

                            embededVideo[{{loop.index0}}].src = embedLink;
                        </script>

                    </div>
                    {% endfor %}
                {% endif %}

                {{detail.content.article_text_content|raw}}

                {% if not detail.images is empty %}
                <h3>Image Gallery</h3>

                    {% for image in detail.images %}
                    <div class="my-2"> 
                        <img class="img-fluid" src="../images/article_6/{{image.filename}}">
                    </div>
                    {% endfor %}
                {% endif %}

            </div> 
        </div>
        {% include 'gbook.php' %}
        {% include 'partials/footer.twig' %}
    </body>
</html>