<!doctype html>
<html>
  {% include 'partials/head.twig' %}
  <body class="bg-light">
    <br/><br/>
    <main class="container">
      <div class="row mt-4">
        <div class="col-md-4 offset-md-4">
          {% set notvalid = (login.response.success == false ) ? 'was-validated' : '' %}
          <form id="login-form" action="login.php" method="post" class="{{notvalid}}">
            <h4>Login to your account</h4>
            <div class="form-group" >
              <label for="email">Email</label>
              {% set email = (login.email) ? login.email : '' %}
              {% set validEmail = ( login.errors.email ) ? 'is-invalid' : '' %}
              <input type="email" id="email" name="email" placeholder="you@example.com" class="form-control {{validEmail}}" value="{{email}}" autocomplete="new-password" >
              {% if login.errors.email %}
                <span class="invalid-feedback">{{login.errors.email}}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              {% set validPassword = ( login.errors.password ) ? 'is-invalid' : '' %}
              <input type="password" id="password" name="password" placeholder="minimum 8 characters" class="form-control {{validPassword}}" autocomplete="new-password">
              {% if login.errors.password %}
                <span class="invalid-feedback">{{login.errors.password}}</span>
              {% endif %}
            </div>
            <button class="btn btn-block btn-primary" type="submit">Login</button>
            <a class="btn btn-block btn-secondary" href="index.php">Home</a>
            {% if login.success %}
              <div class="alert alert-success" role="alert">
                Login successful!
              </div>
            {% elseif login.errors.account or login.errors.system %}
              <div class="alert alert-warning" role="alert">
                {{login.errors.account}}
              </div>
            {% endif %}
          </form>
          <p class="mt-5 mb-3 text-muted text-center">© ProjectWebsite-DevBlog 2019</p>
        </div>
      </div>
    </main>
  </body>
</html>