<!doctype html>
<html lang="en">
    {% include 'partials/head.twig' %}
    <body >
    {% include 'partials/navigation.twig' %}
        <main class="container bg-light pb-2">
            {% if result.items | length > 0 %}
                <h2>Your search for {{result.query}} returned {{result.items | length}} results</h2>
                <hr/>
                {% for item in result.items %}
                <div class="media position-relative">
                    <img class="img-responsive mr-3 w-25" width="100%" src="https://via.placeholder.com/800x500">
                    <div class="media-body w-75">
                        <h2><a class="stretched-link text-reset" href="article_details.php?article_id={{item.article_id}}" >{{item.article_title}}</a></h2>
                        <p class="text-muted">{{item.created|date('l, d F Y')}} By {{item.username}}</p>
                        <h5>{{item.article_text_content|slice(0,120) ~ '.....'}}</h5>
                    </div>
                </div>
                <hr/>
              {% endfor %}
            {% else %}
              <h4>Your search for {{result.query}} returned no result.</h4>
            {% endif %}
        </main>
        {% include 'partials/footer.twig' %}
    </body>
</html>